.dashboard{
    display: flex;
    /* margin-top: 40px; */
    justify-content: space-evenly;
    background-color: #f2f3eb;
}

@media screen and (max-width:540px){
    .dashboard {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }    
}