.dashboard{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.dashboard-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f2f3eb;
}

.dashboard-lower {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5d1b9;
}

.category-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 25%;
}

@media screen and (max-width:540px){
    .dashboard {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
    
    .dashboard-upper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .dashboard-lower {
        width: 100%;
    }

    .financial-overview{
        width: 100%;
        overflow-x: auto;
    }
}