.transaction-input {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
}

.transaction-form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tr-input{
    padding: 10px 20px;
    margin: 20px;
    height: 10%;
}


@media screen and (max-width: 540px){
    .transaction-input{
        width: 100%;
    }
}