.transactions{
    display: flex;
    flex-direction: column;
    background-color: #dbf2f5;
    box-sizing: border-box;
    align-items: center;
    padding: 0 20px;
    height: 425px;
    overflow-y: scroll;
}

.transaction-card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 200px;
    height: 100px;
    background-color: #c2dfce;
    color: black;
    border: 2px solid;
    border-radius: 10px;
    margin: 10px;
}