.app {
  text-align: center;
}

.app-header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: black;
  padding: 40px;
  background-color: bisque;
}

.app-heading {
    font-size: 32px;
}

.menu-actions a{
  margin: 10px;
  font-size: 18px; 
}

@media screen and (max-width:539px){
  .app-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .app-heading {
    font-size: 12px;
    margin-top: 10px;
  }

  .menu-actions {
    margin-top: 10px;
  }
  
  .menu-actions a{
    margin: 10px;
    font-size: 12px; 
  }
}

@media screen and (min-width:540px) and  (max-width: 1024px) {
  .app-heading {
    font-size: 12px;
  }
  
  .menu-actions a{
    margin: 10px;
    font-size: 12px; 
  }
}

.menu_actions .credit, .menu_actions .debit {
  margin: 20px;
}